@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

svg:hover .outer {
  transform: scale(1.05);
  transition: transform 0.7s ease-in-out;
}

.outer{
  animation: rotate 30s linear infinite;
  transform-origin: 44% 46%;
}
